body {
    margin: 25px;
    font-family: 'Helvetica';
    background-color: whitesmoke;
}

#neu {
    display: none;
}

.button {
    padding: 7.5px 20px; 
    font-size: 15px;
    margin: 20px 10px 10px 0px; 
    float: left; 
    position: relative; 
    background: #333; 
    color: #fff; 
    border: none; 
    border-radius: 2px;
}

.button:hover {
    background: rgb(80, 65, 218); 
    color: #f1f1f1; 
    transition: ease 0.6s;
}

.fragebogen {
    padding-left: 10px; 
    width: 500px;
    max-width: 100%;
    margin: 0px; 
    background: #efefef; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

h2 {
    color: deeppink;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header > small {
    position: relative;
    top: -18px;
    font-size: 14px;
    color: darkorchid;
    letter-spacing: 1px;
    font-style: italic;
    text-decoration: underline;
}

h3 { 
    position: relative;
    top: -10px;
    color: #666;
    font-style: italic;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

p {
    font-size: 16px;
}